.project-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(24, 3, 3);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin-left: 800px;
    margin-top: 30px;
  }
  
  .project-card h2 {
    font-size: 1.5rem;
  }
  
  .project-card .project-count {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
  }
  @media only screen and (max-width: 600px) {
    .project-card {
      width: 100%; /* Take up the full width on smaller screens */
    }
  }